body {
  font-family: "Comic Neue", cursive;
  margin: 0;
}
.flx {
  display: flex;
  padding-left: 50px;
}
h1 {
  font-size: 60px;
}
h2{
  font-size: 40px;
}
.exp h3{
  color: cadetblue;
}
span {
  color: skyblue;
}
.up {
  width: 50%;
  padding: 5px 10px 5px 20px;
  font-size: 20px;
  font-weight: 100;
}
.up img {
  width: 80%;
}
.hire {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding: 15px 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right, skyblue, rgb(85, 84, 84));
}
.bp {
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.mid {
  margin-bottom: 100px;
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.exp{
  width: 50%;
  padding: 20px;
  margin: 2%;
  border-radius: 8px;
  box-shadow: 10px 10px 40px skyblue;
}
.btm{
  background-image: url(image/exp-bg.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
  background-position: left bottom;
}
#lt{
  border-left: 5px solid;
  border-image: linear-gradient(orange, red);
  border-image-slice: 1;
}
#rt{
  border-left: 5px solid;
  border-image: linear-gradient(skyblue, gray);
  border-image-slice: 1;
}
footer{
  text-align: center;
}