body {
  font-family: "Comic Neue", cursive;
  margin: 0;
}
section {
  display: flex;
}
h1 {
  font-size: 60px;
}
span {
  color: skyblue;
}
.up {
  width: 50%;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 100;
}
.up img {
  width: 80%;
}
.hire {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding: 15px 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right, skyblue, rgb(85, 84, 84));
}
.bp {
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}
.mid {
  margin-top: 100px;
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
